@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@300;400;500;700;800;900&display=swap');

body{
    height: 100vh;
    margin: 0;
    font-family: "Poppins";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.nav-contianer{
    background: #564BFF;
    a{
        color: #ffffff;
        span{
            color: #FFC9E2;
        }
    }
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo{
        color: #FF98C8;
        font-weight: bold;
        
    }
    ul{
        display: flex;
        a{
            display: flex;
            padding: 0 2vh;
        }
    }
}


.programer{
    display: none;
}

.hero{
    background: #645BFE;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;

    p{
        letter-spacing: 1vh;
        font-size: 25px;
        font-weight: lighter;
        text-transform: uppercase;
    }

    h1{
        color: #FFC9E2;
        text-transform: uppercase;
    }
}

section{
    padding: 4em 2em;
    text-align: center;
}

.mean{
    position: relative;
    img{
    display: none;
    }
}
.title{
    font-family: lato;
    font-weight: bolder;
    font-size: 2vh;
    text-transform: uppercase;
    color: #FF98C8;
}
.mean-desc{
    color: #564BFF;
}
.types{
    background:#FF98C8;

    .type-container ul li{
        background: #ffffff;
        padding: 2em;
        border-radius: 1em;
        margin-bottom: 1em;
        .icon-container{
            height: 60px;
            display: grid;
            place-content: center;
            margin: 0 auto;
            font-family: lato;
            font-weight: bold;
            font-size: 1.5em;
            text-transform: uppercase;
            color: #564BFF;
        }
        p{
            color: black;
        }
    }
}
.languages{
    background: #F2EFEF;
    .subtitle{
        color: #564BFF;
        font-family: lato;
        font-size: 1.5em;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 0.5em;
    }
    h1{
        text-align: center;
        color: #FF268B;
        text-transform: uppercase;
        word-spacing: 1em;
        font-size: 1.5em;
    }
    img{
        display: none;
    }
}
.last-img{
    svg{
        display: none;
    }
    h1{
        color: #FF268B;
        font-weight: bolder;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 0.5em;
    }
}

@media only screen and (min-width: 800px){
    .mean,.languages{
        text-align: left;
    }

    .mean{
        display: grid;
        grid-template-columns: 50% auto;
        img{
            display: flex;
            height : 15em;
            width: auto;
            margin-left: auto;
            
        }
    }
    .language-container{
        display: grid;
        grid-template-columns: 65% auto;

        img{
            display: grid;
            height: 8em;
            width: auto;
            margin: auto;

        }
    }
    .language-container-right{
        display: grid;
        grid-template-columns: auto 65%;
        // .language-left{
        //     float: right;
        //     text-align: right;
        // }

        img{
            display: grid;
            height: 8em;
            width: auto;
            margin: auto;

        }
    }
    .types{
        margin-top: -4em;
        margin-bottom: -8em;
        padding-top: 4em;
    }
    .type-container ul{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }
}

@media only screen and (min-width: 1030px){

    body{
        font-size: 17px;
    }
    

    .nav-contianer{
        font-size: 1.3em;
        nav{
            padding-right: 3em;
        }
    }

    .hero{
        height: 25em;
        display: grid;
        grid-template-columns: 60% auto;

        .programer{
            display: grid;
            width: 40em;
            margin-top: -3em;
        }
        .content{
            text-align: center;
            padding-top: 7em;
        }      
    }

    .mean{
        margin-left: 10%;
        margin-right: 10%;
        .title{
            font-size: 20px;
        }
    }

    .type-container{
        margin-left: 10%;
        margin-right: 10%;
    }
    .language-container{
        margin-left: 10%;
        margin-right: 5%;
    }
    .language-container-right{
        margin-left: 5%;
        margin-right: 10%;
    }
}